<table>
<thead> <tr> <th colspan="2">Cat: <%= cat.name.titleize %></th> </tr> </thead>
<tbody>
    <tr>
        <td>Sex: </td>
       <td><%= cat.sex %></td> 
    </tr>
    <tr>
        <td>Color: </td>
       <td><%= cat.color %></td> 
    </tr>
    <tr>
        <td>Birthday: </td>
       <td><%= cat.birth_date %></td> 
    </tr>
</tbody>
</table>